.episode_wrap {
  background-color: #3b2942;
  min-height: 260px;
  max-height: 260px;
  min-width: 232px;
  margin: 40px;
  max-width: 232px;
  border-radius: 20px;
  transition: ease-out 1s;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.episode_wrap:hover {
  background-color: #694279;
}

.episode_wrap h2 {
  font-size: 28px;
  margin: 17px 17px 0 17px;
}

.episode_wrap h3 {
  color: rgb(200, 200, 200);
  margin: 12px 17px 10px 17px;
}

.episode_wrap img {
  width: 60px;
  padding: 6.2px;
  border-radius: 10px;
}

.img_wrap {
  position: relative;
  transition: 1s;
}

.img_wrap:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -30px;
  left: 2px;
  z-index: 10;
  max-width: 64px;
  word-wrap: break-word;
  border-radius: 4px;
  padding: 3px;
  background-color: rgb(0, 160, 160, 0.6);
  transition-delay: 1s;
}

.charactersInEpisode {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* arrow button styles */

.episode_btn__wrap {
  min-height: max-content;
  transform: translate(-50%);
  position: absolute;
  left: 50%;
  bottom: 10%;
}

.episode_btn__wrap i {
  font-size: 40px;
  color: rgb(82, 216, 216);
  transition: 0.7s;
}

.episode_btn__wrap i:hover {
  transform: scale(1.5);
}

.episode_btn {
  background-color: inherit;
  min-height: 30px;
  min-width: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}
